# Remove IDEA files
.idea
.vscode

# Remove OS junk files
.DS_Store

# Remove SSL keys
keys

# Remove compiled files and executables
target/

# Remove Cargo.lock from gitignore since we are creating an executable
Cargo.lock